<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/application.css" type="text/css" charset="utf-8">

  <script src="lib/json2.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/jquery.tmpl.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/jquery.link.js" type="text/javascript" charset="utf-8"></script>

  <script src="lib/spine.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/spine.list.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/spine.model.local.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/spine.model.filter.js" type="text/javascript" charset="utf-8"></script>
  <script src="app/utils.js" type="text/javascript" charset="utf-8"></script>

  <script src="app/models/contact.js" type="text/javascript" charset="utf-8"></script>
  <script src="app/controllers/sidebar.js" type="text/javascript" charset="utf-8"></script>
  <script src="app/controllers/contacts.js" type="text/javascript" charset="utf-8"></script>
  <script src="app/application.js" type="text/javascript" charset="utf-8"></script>
  
  <script type="text/x-jquery-tmpl" id="contactsTemplate">
    <li class="item">
      <img src="images/missing.png" />
      {{if fullName()}}
        <span class="name">${fullName()}</span>
      {{else}}
        <span class="name empty">No Name</span>
      {{/if}}
      <span class="cta">&gt;</span>
    </li>
  </script>  
  
  <script type="text/x-jquery-tmpl" id="contactTemplate">
    <label>
      <span>Name</span>
      ${first_name} ${last_name}
    </label>

    <label>
      <span>Email</span>
      {{if email}}
        ${email}
      {{else}}
        <div class="empty">Blank</div>
      {{/if}}
    </label>

    {{if mobile}}
    <label>
      <span>Mobile number</span>
      ${mobile}
    </label>
    {{/if}}

    {{if work}}
    <label>
      <span>Work number</span>
      ${work}
    </label>
    {{/if}}

    {{if address}}
    <label>
      <span>Address</span>
      <pre>${address}</pre>
    </label>
    {{/if}}

    <label>
      <span>Notes</span>
      {{if notes}}
        ${notes}
      {{else}}
        <div class="empty">Blank</div>
      {{/if}}
    </label>
  </script>
  
  <script type="text/x-jquery-tmpl" id="editContactTemplate">
    <label>
      <span>First name</span>
      <input type="text" name="first_name" value="${first_name}" autofocus>
    </label>

    <label>
      <span>Last name</span>
      <input type="text" name="last_name" value="${last_name}">
    </label>

    <label>
      <span>Email</span>
      <input type="text" name="email" value="${email}">
    </label>

    <label>
      <span>Mobile number</span>
      <input type="text" name="mobile" value="${mobile}">
    </label>

    <label>
      <span>Work number</span>
      <input type="text" name="work" value="${work}">
    </label>

    <label>
      <span>Address</span>
      <textarea name="address">${address}</textarea>
    </label>

    <label>
      <span>Notes</span>
      <textarea name="notes">${notes}</textarea>
    </label>
  </script>  
</head>
<body>
  <header id="title">
    <h1>Spine Contacts</h1>
  </header>
  
  <div id="wrapper">
  
  <div id="sidebar">
    <div class="search">
      <input type="search" placeholder="Search" results="0" incremental="true" autofocus>
    </div>
    
    <ul class="items">
    </ul>
    
    <footer>
      <button>New contact</button>
    </footer>
  </div>
  
  <div class="vdivide"></div>
  
  <div id="contacts">
    <div class="show">
      <ul class="options">
        <li class="optEdit">Edit contact</li>
        <li class="optEmail">Email contact</li>
      </ul>
      <div class="content"></div>
    </div>
    
    <div class="edit">
      <ul class="options">
        <li class="optSave default">Save contact</li>
        <li class="optDestroy">Delete contact</li>
      </ul>
      <div class="content"></div>
    </div>
  </div>
  
  </div>
</body>
</html>