<label>
  <span>First name</span>
  <input type="text" name="first_name" value="${first_name}" autofocus>
</label>

<label>
  <span>Last name</span>
  <input type="text" name="last_name" value="${last_name}">
</label>

<label>
  <span>Email</span>
  <input type="text" name="email" value="${email}">
</label>

<label>
  <span>Mobile number</span>
  <input type="text" name="mobile" value="${mobile}">
</label>

<label>
  <span>Work number</span>
  <input type="text" name="work" value="${work}">
</label>

<label>
  <span>Address</span>
  <textarea name="address">${address}</textarea>
</label>

<label>
  <span>Notes</span>
  <textarea name="notes">${notes}</textarea>
</label>